.footer{
    background-color: #333;
    margin-top: 80px;
    border-radius: 5px;
}
.footer-tab{
    display: flex;
    background-color: #333;
    padding-left: 50px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    border-radius: 5px;
    
}
.footer-columns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    min-width: 60px;
    margin-right: 20px;
    margin-left: ;
    padding-top: 20px;
}
.footer-titles{
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
}

.footer-buttons{
    color: rgba(255, 255, 255, 0.685);
    margin-bottom: 20px;
    width: 300px;
    cursor: pointer;
    transition: 0.2s;

}
.footer-buttons:hover{
    color: rgb(224, 133, 81);
}
.images-footer{
    background-color: rgb(51, 50, 50);
}

.bottom-footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
.payment1{
    width: 40px;
    margin-right: 20px;
}
.footer-text1{
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}
.footer-text2{
    display: block;
    text-align: center;
    color: grey;
    padding-bottom: 30px;
}