body{
    padding-left: 75px;
    padding-right: 75px;
    background-color: rgb(156, 248, 205);
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: white;
}

.sidebar1{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    background-color: white;
}
.sidebar2{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    background-color: white;
}

rgb(156, 248, 205);
